.p-about {
    padding: 0;
}

.p-about-content {

}

.p-about-content .-content-img {
    width: 100%;
}

.p-about-content .-content-center {
    margin-top: 101px;
    width: 100%;
}

.p-about-content .-content-center .-center-left {
    text-align: right;
}

.-content-center .-center-left .-center-left-nav {
    display: block;
    margin-bottom: 52px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
    color: rgba(102, 102, 102, 1);
    line-height: 36px;
}

.-content-center .-center-left .-center-left-active {
    color: #FFC000;
}

.p-about-content .-content-center .-center-right {
    padding-left: 175px;
}

.-content-center .-center-right .-center-right-bigTitle {
    margin-bottom: 40px;
    font-size: 36px;
    font-weight: 600;
    color: rgba(51, 51, 51, 1);
    line-height: 36px;
}

.-content-center .-center-right .-center-right-imgOne {
    margin-bottom: 87px;
}

.-content-center .-center-right .-center-right-imgTwo {
    width: 100%;
    margin-bottom: 30px;
    max-width: 826px;
}

.-content-center .-center-right .-center-right-img {
    transform: translateY(-67px);
}

.-content-center .-center-right .-center-right-smallTitle {
    margin-bottom: 21px;
    height: 23px;
    font-size: 24px;
    font-weight: 600;
    color: rgba(51, 51, 51, 1);
}

.-content-center .-center-right .-center-right-smallText {
    margin-bottom: 47px !important;
}

.-content-center .-center-right .-center-right-text {
    margin-bottom: 98px;
    max-width: 826px;
    font-size: 18px;
    font-weight: 400;
    color: rgba(102, 102, 102, 1);
}

.-content-center .-center-right .-center-right-address {
    background: url("../img/about/dz.png") no-repeat;
    background-size: 100%;
    margin-bottom: 60px;
    width: 730px;
    height: 354px;
}

.-content-center .-center-right .-center-right-info {
    margin-bottom: 10px;
    color: #666666;
}

.-content-center .-center-right .-center-right-info:last-child {
    margin-bottom: 50px
}