* {
  padding: 0;
  margin: 0;
}

a:hover {
  text-decoration: none;
}

p {
  padding: 0;
  margin: 0;
}

.clearfix:after,
.clearfix:before {
  content: '';
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  zoom: 1;
}

.w-1200 {
  margin: 0 auto;
  width: 1200px;
}

.w-1120 {
  margin: 0 auto;
  width: 1120px;
}

.container-fluid {
  padding: 0;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

header {
  width: 100%;
  min-width: 1200px;
  height: 81px;
  background-color: #fff;
}

.nav {
  padding-top: 18px;
  padding-bottom: 19px;
}

.min-1120 {
  min-width: 1120px;
}

.nav-item {
  display: inline-block;
  position: relative;
  margin-left: 140px;
  height: 44px;
  font-size: 22px;
  font-weight: bold;
  line-height: 44px;
  color: #333333;
}

.nav-item:hover::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -3px;
  width: 90%;
  height: 8px;
  background: rgba(255, 192, 0, 1);
  border-radius: 4px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.nav-item.active::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -3px;
  width: 90%;
  height: 8px;
  background: rgba(255, 192, 0, 1);
  border-radius: 4px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.logo {
  float: left;
  width: 143px;
}

.footer {
  width: 100%;
  height: 280px;
  background-color: #383b48;
}

.footer-nav {
  padding-top: 71px;
  margin-bottom: 105px;
}

.footer-nav a {
  margin-right: 216px;
  font-size: 20px;
  color: #fff;
}

.footer-nav a:last-child {
  margin-right: 0;
}

.footer-nav a:hover {
  color: #fff;
  text-decoration: underline;
}

.footer address {
  color: rgba(255, 255, 255, 0.7);
  font-size: 16px;
}

.footer-right {
  padding-top: 43px;
}

.footer-right p {
  text-align: center;
  margin-bottom: 12px;
  color: #fff;
  font-size: 16px;
}

.footer-right img {
  width: 140px;
  height: 140px;
  background: rgba(255, 255, 255, 1);
  border-radius: 10px;
}

.hide {
  display: none;
}

.study-popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99999;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.4);
}

.study-popup .study-popup-bg {
  position: absolute;
  top: 50%; left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: url("../img/tanchuang.png");
  margin: auto;
  width: 251px;
  height: 359px;
}

.-title {
  position: relative;
  display: table;
  margin: 120px auto;
  margin-bottom: 97px;
  font-size: 58px;
  font-weight: bold;
  color: #333333;
}
.-title::before {
  content: '';
  position: absolute;
  top: 50%;
  left: -138px;
  margin-top: -3.5px;
  width: 118px;
  height: 7px;
  background: url('../image/composition/tiao.png') no-repeat;
  background-size: 100%;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
}
.-title::after {
  content: '';
  position: absolute;
  top: 50%;
  right: -138px;
  margin-top: -3.5px;
  width: 118px;
  height: 7px;
  background: url('../image/composition/tiao.png') no-repeat;
  background-size: 100%;
}
/**css初始化**/
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td,menu,nav,header{ margin:0; padding:0; }
table { border-collapse:collapse; border-spacing:0; }
h1, h2, h3, h4, h5, h6{ font-size:12px; font-weight:normal;}
ul,ol{list-style: none;}
img{display: block; border:0 none;}
input {  font-family: "SimSun","宋体"; border:0 none; outline-style:none;}
textarea { resize:none; }
.clearfix:after{content:''; height:0; line-height:0; visibility:hidden; display:block; clear:both;}
.clearfix{zoom:1;} /*针对ie低级版本的浏览器*/
body {font-size:12px;font-family: "San Francisco", "Helvetica Neue", "PingHei", "Hiragino Sans GB","Microsoft Yahei","Arial Unicode MS", "Arial", "Verdana", "SimHei","Geneva","sans-serif";}
